@import 'variables.scss';

@mixin grid-item($amount) {
  @for $i from 1 through $amount {
    &:nth-of-type(#{$amount}n + #{$i}) {
      grid-column: #{$i + $i - 1} / span 3;
      @if $i % 2 == 0 {
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
      }
    }
  }

  @for $i from 1 through $amount {
    &:nth-of-type(n + #{$i * $amount + 1}) {
      --counter: #{$i + 1};
    }
  }
}

#{$block} {
  display: flex;
  justify-content: center;

  &__list {
    --counter: 1;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
  }

  &__item {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
    filter: drop-shadow(0 0 10px rgba(#444, 0.08));
    height: 0;
    padding-bottom: 90%;
    margin: -7%;
    @include grid-item(6); //configure here
  }

  &__content {
    position: absolute;
    height: 238px;
    width: 268px;
    font-size: 1.125rem;
    color: #111111;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    transition: transform 0.24s ease-out;
  }
}
